blinker
click
colorama
flask
Flask-Login
flask-sqlalchemy
greenlet
importlib-metadata
itsdangerous
jinja2
MarkupSafe
pymysql
psycopg2-binary
sqlalchemy
typing-extensions
werkzeug
zipp
gunicorn
